.header__container {
    grid-area: header__container;
    display: grid;
    grid-template-columns: 20% 27.5% 27.5% 25%;
    grid-template-rows: 56px;
}

.header__container__logo {
    grid-column: 1/2;
    align-self: center;
}

.header__container__search {
    grid-column: 2/4;
}

.header__container__search__btn {
    display: none;
}

.header__container__profile {
    grid-column: 4/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__container__profile__name {
    color: #FFFFFF;
    margin-left: 8px;
    margin-right: 16px;
}




.footer__container {
    grid-area: footer__container;
}