.main__container {
    display: grid;
    grid-area: main__container;
    grid-template-columns: 20% 27.5% 27.5% 25%;
    grid-template-rows: auto;
}

.main__container__menu {
    grid-column: 1/2;
}

#menu-title {
    margin-bottom: 0;
}

.main__container__menu__list {
    display: flex;
    flex-direction: column;
}

.main__container__menu__list__item {
    &:hover {
        .main__container__menu__list__item__link__icon {
            background-color: #5081FB;
        }
    }
}

.main__container__menu__list__item__link {
    align-items: center;
    display: flex;
    height: 48px;
    margin-top: 16px;
}

.main__container__menu__list__item__link__icon {
    align-items: center;
    background: rgba(80, 129, 251, 0.16);
    border-radius: 16px;
    display: flex;
    height: 48px;
    justify-content: center;
    margin-right: 16px;
    width: 48px;
}

.main__container__central {
    grid-column: 2/4;
}

.main__container__central__form__code__points {
    display: flex;
    left: 48px;
    position: absolute;
    top: 48px;


    .main__container__central__form__code__points__point {
        border-radius: 100%;
        height: 12px;
        width: 12px;
    }
}

#point-red {
    background-color: #FF5F56;
}

#point-yellow {
    background-color: #FFBD2E;
    margin-left: 8px;
}

#point-green {
    background-color: #27C93F;
    margin-left: 8px;
}

.main__container__central__form__code__area__color {
    background: #6BD1FF;
    border-radius: 8px;
    height: auto;
    padding: 32px;
}

.main__container__central__form__code {
    position: relative;
}

.main__container__central__form__code__area__text {
    background: #141414;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    padding: 56px 16px 16px 16px;

    #code-text-textarea {
        display: block;
        background-color: transparent;
        height: 26.5vh;
        width: -webkit-fill-available;
        color: white;
        resize: none;
        background-color: none;
    }
}

.main__container__right {
    grid-column: 4/4;
    padding-left: 40px;
}

.main__container__right__project__form__name {
    height: 56px;
    width: calc(100% - 16px);
}

.main__container__right__project__form__description {
    height: 64px;
    margin-top: 16px;
    padding-top: 16px;
    resize: none;
    width: calc(100% - 16px);
}

.main__container__right__customize {
    margin-top: 40px;
}

.main__container__right__customize__form__code__types {
    height: 56px;
}

.main__container__right__customize__form__code__types__option {
    background-color: $box-color;
}

.main__container__right__customize__form__colors__border {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    height: 56px;
    margin-top: 16px;
    width: 100%;
}

.main__container__right__customize__form__colors {
    background-color: #6BD1FF;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    margin: 8px;
}

.main__container__community {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 24px;
    margin-right: 32px;
}

.main__container__community__description {
    background: rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    color: #FFFFFF;

    p {
        margin-top: 8px;
        color: #FFFFFF;
        opacity: 0.8;
    }
}

.main__container__community__description__project {
    margin: 24px 24px 32px 24px;
}

.main__container__community__description__project__title {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
}

.main__container__community__description__participation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 32px 32px 34px;

    .header__container__profile__image {
        height: 24px;
        width: 24px;
    }

    .header__container__profile__name {
        margin-right: 0;
    }
}

.main__container__community__description__participation__public {
    span {
        margin-left: 10px;
    }
}