.main__container {
    grid-area: main__container;
    display: grid;
    grid-template-columns: 20% 27.5% 27.5% 25%;
    grid-template-rows: auto;
}

.main__container__menu {
    grid-column: 1/2;
}

#menu-title {
    margin-bottom: 0;
}

.main__container__menu__list {
    display: flex;
    flex-direction: column;
}

.main__container__menu__list__item__link {
    display: flex;
    align-items: center;
    height: 48px;
    margin-top: 16px;
}

.main__container__menu__list__item__link__icon {
    height: 48px;
    width: 48px;
    background: rgba(80, 129, 251, 0.16);
    border-radius: 16px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: #5081FB;
    }
}

.main__container__central {
    grid-column: 2/4;
}

.main__container__central__form__code__points {

    display: flex;
    position: absolute;
    top: 48px;
    left: 48px;


    .main__container__central__form__code__points__point {
        height: 12px;
        width: 12px;
        border-radius: 100%;
    }
}

#point-red {
    background-color: #FF5F56;
}

#point-yellow {
    background-color: #FFBD2E;
    margin-left: 8px;
}

#point-green {
    background-color: #27C93F;
    margin-left: 8px;
}

.main__container__central__form__code__area__color {
    background: #6BD1FF;
    border-radius: 8px;
    padding: 32px;
    height: 366px;
}

.main__container__central__form__code {
    position: relative;
}

.main__container__central__form__code__area__text {
    resize: none;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    color: white;
    background: #141414;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    padding: 56px 16px 16px 16px;
}

.main__container__right {
    grid-column: 4/4;
    padding-left: 40px;
}

.main__container__right__project__form__name {
    height: 56px;
    width: calc(100% - 16px);
}

.main__container__right__project__form__description {
    resize: none;
    height: 64px;
    width: calc(100% - 16px);
    margin-top: 16px;
    padding-top: 16px;
}

.main__container__right__customize {
    margin-top: 40px;
}

.main__container__right__customize__form__code__types {
    height: 56px;
}

.main__container__right__customize__form__code__types__option {
    background-color: $box-color;
}

.main__container__right__customize__form__colors__border {
    height: 56px;
    width: 100%;
    border: 1px solid #FFFFFF;
    margin-top: 16px;
    border-radius: 8px;
}

.main__container__right__customize__form__colors {
    border-radius: 4px;
    background-color: #6BD1FF;
    height: 40px;
    margin: 8px;
    cursor: pointer;
}