body {
    background-color: $background-color;
    font-family: 'Inter', sans-serif;
}

.box {
    background-color: $box-color;
    border-radius: 32px;
    display: grid;
    grid-template-areas:
        "header__container"
        "main__container";
    grid-template-columns: auto;
    grid-template-rows: 56px auto 56px;
    margin: 32px auto;
    max-width: 1440px;
    padding: 32px;
    row-gap: 40px;
}

input,
textarea,
select,
option {
    background: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    height: 100%;
    padding-left: 14px;
    width: 100%;

}

::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 0.64;
}

:-moz-placeholder {
    color: #FFFFFF;
    opacity: 0.64;
}

::-moz-placeholder {
    color: #FFFFFF;
    opacity: 0.64;
}

:-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 0.64;
}

a {
    color: #FFFFFF;
    cursor: pointer;
    opacity: 0.56;
    text-decoration: none;
}

a:hover,
a:active {
    color: #FFFFFF;
    opacity: 1;
}

h3 {
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.4em;
    margin-bottom: 16px;
    text-transform: uppercase;
}

button{
    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    height: 56px;
    margin-top: 32px;
    width: 100%;

    &:hover {
        background: #5081FB;
        color: #051D3B;
    }
}